@import "./consts.scss";

@mixin account_container {
  width: 30%;
  padding: 40px;
}

@mixin flex_center {
  display: flex;
  align-items: center;
}

@mixin text {
  font-size: $font25;
  text-align: center;
}
