@import "../../utils/scss";

.Profile {
  height: 100%;
  width: 100%;
}
.container {
  display: flex;
  flex: 1;
}
.left-container {
  display: flex;
  width: 30%;
  flex-direction: column;
  border-right: 1px solid $border_color;
  padding: 40px;
}
.right-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding-left: 40px;
}
.address-container {
  width: 50%;
}
.name {
  @include text;
  color: $text_primary;
}
.company {
  @include text;
  color: $text_secondary;
}
.address {
  color: $text_secondary;
  font-size: $font25;
}
